* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: all 0.5s;
}
body {
    background-color: rgb(255, 255, 255);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moldura {
    border: 5px solid black;
    border-radius: 30px;
    height: 600px;
    width: 300px;
    padding: 0 20px;
}
.moldura > .moldura-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.moldura-container > header {
    padding-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 50px;
}
.moldura-container > header > .barra-top {
    height: 5px;
    width: 50px;
    background-color: black;
    border-radius: 10px;
}
header > .camera-top {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
header > .button {
    width: 50px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1px;
}
.button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile > .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-container > img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid black;
}
.profile-container > .name {
    font-size: 20px;
    font-weight: 800;
}
.profile-container > .frase {
    color: #999999;
    font-weight: normal;
    font-size: 13px;
}

.links {
    padding-top: 50px;
    width: 100%;
}
.links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links-container > .link {
    color: black;
    text-decoration: none;
    background-color: #dadada;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    
}
.link:hover {
    background-color: #915c5c;
    color: #ffffff;
}


footer {
    padding-top: 90px;
}
footer p {
font-weight: bold;
}
footer p span {
    font-weight: 800;
}